.entretenimento {
margin-bottom: 15px;
padding: 15px;
box-shadow: 0 0 12px rgba(0,0,0,0.2);
margin-top: 15px;
}
.imagens-size{
  height: 300px;
  width: 600px;
}
.texto-alinhar {
  text-align: center;
}
