
body {
  margin: 0;
  font-family: Arial;
  font-size: 16px;
  color: #333;
}
h1, h2, h3 {
  margin: 0 0 15px;
}
a {
  text-decoration: none;
}
nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.text-blue {
  color: #003150;
}

.table{
  display: table;
  width: 100%;
  height: 100%;
}
.table-cell{
  display: table-cell;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
}
.no-banner{
  padding-top: 78px;
}
.margin-40{
  margin: 40px;
}
.margin-bot{
  margin-bottom: 40px;
}
.margin-top{
  margin-top: 16px;
}
