/* HOME */
/* HEADER*/
.header-top {
  width: 100%;
  padding: 15px 0; /*top e bottom 15, left e right 0*/
  background: #fff;
  box-shadow: 0 6px 12px rgba(0,0,0,0.3);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

}
.header-title {
  padding-top: 12px;
  margin: 0;
  font-size: 26px;
  line-height: 26px;
  text-transform: uppercase;
  float: left;

}
.header-menu {
  float: right;
}
.header-menu li {
  display: inline-block;
}
.header-menu a {
  display: inline-block;
  padding: 15px;
  color: #003150;
}
/*BANNER */
.banner {
  color: #fff;
  height: 100vh;

  background-image: url("../img/banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-shadow: 0 0 30px rgba(0,0,0,0.3);
}

.banner-title{
  margin-bottom: 20px;
  font-size: 84px;
}
.banner p {
  margin-bottom: 40px;
  font-size: 18px;
  line-height: 22px;
  font-family: arial;
}

.banner .table{
  position: relative;
  z-index: 2;
}
.size-img {
  height: : 80px;
  width: 80px;
  margin-right: 20px;
  margin-top: -10px;
}
.color-card{
  color: #000;

}
.card-image{
  height: 200px;
  width: 160px;
}
.destaques{
  font-size: 40px;
  color: #000;
  text-align: center;
  margin: 15px;
}
.card1{
  margin-left: 120px;
  margin-top: 15px;
  margin-bottom: 20px;
}
.card2{
  margin-right: 120px;
  margin-top: 15px;
  margin-bottom: 20px;
}
/*FOOTER */

.footer-bottom {
  padding: 15px;
  background: #003150;
  text-align: center;

}
.footer-bottom p {
  margin: 0;
  color: #efefef;
  text-shadow: 0 0 30px rgba(0,0,0,0.3);
}

.footer-size{
  padding-top: 10px;

}
footer a {
  color: #efefef;
}
.imagem-cards {
  height: 200px;
  width: 80px;
}
.text-cards {
  color: #000;
}
.logo-header{
  height: 30px;
  width: 30px;
  cursor: pointer;
}
.arial{
  font-family: arial;
}
