.screen {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.btn {
  border-style: none;
  font-size: 1em;
  border-radius: 3px;
  padding: 8px;
  cursor: pointer;
}

.verde {
  background-color: #00b386;
  border-color: #00b386;
  color: white;
}

.vermelho {
  background-color: #ff3333;
  border-color: #ff3333;
  color: white;
}

.azul {
  background-color:#1a8cff;
  border-color: #1a8cff;
  color: white;
}
.roxo{
  background-color:#9933ff;
  border-color: #9933ff;
  color: white;
}

.botoes {
  margin-top: 10px;
}

.botoes .btn {
  margin: 0 15px 0 15px;
}


