/* BANNER */
.banner {
  color: #fff;
  height: 100vh;
  position: relative; /*para que ele fique dentro do gradiente */
  background-image: url("../img/beach-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-shadow: 0 0 30px rgba(0,0,0,0.3);
}

.banner-title{
  margin-bottom: 20px;
  font-size: 84px;
}
.banner p {
  margin-bottom: 40px;
  font-size: 18px;
  line-height: 22px;
}
.banner:before {
  content: "";
  position: absolute; /*Com o before empurramos o gradiente para antes do conteúdo, usando o position absolute ele fica sem ocupar espaço*/
  top: 0;
  left: 0;
  z-index: 1;
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0.8; /*deixando opaco para a imagem do banner aparecer */
  background: -moz-linear-gradient(-45deg, #0678a9 0%, #ffb700 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #0678a9 0%,#ffb700 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #0678a9 0%,#ffb700 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}
.banner .table{
  position: relative;
  z-index: 2;
}
@media (max-width: 600px){
  .banner .table-cell{
    padding-left: 15px;
    padding-right: 15px;
  }
.banner br {
  display: none; /*desabilitando a quebra de linha para o texto de adequar ao 320px */
  }
.banner-title {
  font-size: 60px;
  }
}
