/* BUTTON */
.button{
  display: inline-block;
  padding: 20px 30px;
  font-size: 18px;
  line-height: 18px;
  border-radius: 12px;
  text-transform: uppercase;
}
.button-white{
  background: #fff;
  color: #0678A9;

}
.buy-button{
  border-radius: 10px;
  padding: 5px;
  background-color: #0678A9;
  color: #fff;
}
.send-button{
  border-radius: 8px;
  padding: 15px;
  background-color: #0678A9;
  color: #fff;
  border: none;
  text-transform: uppercase;
  transition: background 0.3s ease-in-out 0s;
  cursor:pointer;
  }
  .send-button:hover{
    background-color: #FFB700; /*botao muda a cor quando aproxima o mouse de forma estatica*/
  }
  .button-yellow{
    color: #fff;
    background-color: #FFB700;
  }
