/* CONTENT */
.titulo1 {
  float: left;
  width: 50%;
  display: block;
  padding: 0, 15px;
  box-sizing: border-box;


}
.titulo2 {
  float: right;
  width: 50%;
  display: block;
  padding: 0, 15px;
  box-sizing: border-box;

}
.content {
  padding-top: 60px;
  padding-bottom: 60px;

}
@media (max-width: 500px){
  .titulo1 {  
    text-align: center;
    width: 100%;
  }
  .titulo2 {
    text-align: center;
    width: 100%;
  }
}
