/* CONTATO */
.formulario{
  float:right;
  width: 40%;
  padding: 20px;
}
.texto{
  float: left;
  width: 50%;
  padding: 20px;
}
.form-itens{
  padding-top: 5px;
  padding-bottom: 15px;
}
.campos{
  border-radius: 5px;
  padding: 5px;

}

.campos:focus {
  border-color: #0678A9;
}
textarea.campos {
  height: 150px;
  width: 300px;
}
@media (max-width: 500px){
  .texto {
    text-align: center;
    width: 100%;
  }
  .form {
    text-align: center;
    width: 100%;
  }
  
}
