 /* PRODUTOS */
 .produtos {
   display: block;
   padding: 15px;
   width: 45%;
   box-shadow: 0 0 12px rgba(0,0,0,0.2);
   margin: 5px;

 }
 .produtos-left{
   float: left;
 }
 .produtos-right{
   float: right;
 }
 ul {
   text-align: center;
 }
 ul img{
   width: 100px;
 }
