/* SERVIÇOS */
.servicos {
margin-bottom: 15px;
padding: 15px;
box-shadow: 0 0 12px rgba(0,0,0,0.2);
margin-top: 15px;

}

.imagem {
  float: left;
  margin: 0 15px 15px 0;
  width: 180px;

}
h3 {
    font-size: 22px;
}
